body {
    /*background-image: url("background.jpg");*/
    background: linear-gradient(to right, blue, white);;
 }

.container{
    width: 525px;
    margin: 50px auto;
    border: 1px solid red;
}

.efect {
    width: 500px;
    
    -ms-transform: skew(10deg, 10deg); /* IE 9 */
    -webkit-transform: skew(10deg, 10deg); /* Safari */
    transform: skew(10deg, 10deg);
}
h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
p {
    font-family: verdana;
    font-size: 20px;
}
a {
    font-style: oblique;
    font-family: sans-serif;
    color: rgb(255, 0, 0);   
}
canvas {
    
}