body {
    background-image: url("background.jpg");
    background-color: #cccccc;
 }
h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
p {
    font-family: verdana;
    font-size: 20px;
}
a {
    font-style: oblique;
    font-family: sans-serif;
    color: rgb(255, 0, 0);   
}
canvas {
    position: absolute;
    left: 660px;
    top: 250px;
}